<div class="conrainer">
    <% @posts.each do |post| %>
      <div class="col-xs-6 col-sm-4"> 
          <b><%= post.user.name %></b>       
          <%= image_tag  post.image.url(:medium), class:'img-responsive' %>
          <%= post.description  %>
          <%= render post.comments ,post: post %> 
          <%= render 'comments/form', post: post %>            
      </div>
    <% end %>
</div>




